<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'profile' | transloco }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <h1>{{ 'user_info' | transloco }}</h1>
  <br>
  <div>
    <form [formGroup]="updateGroup" (submit)="updateProfile()">
      <p>{{ 'current_name' | transloco }}: {{userName}} </p>
      <br>
      <ion-item fill="outline" class="row">

        <ion-label position="floating">{{ 'new_name' | transloco }}</ion-label>
        <ion-input formControlName="name" value=""></ion-input>
      </ion-item>
      <br>
      <p>{{ 'current_email' | transloco }}: {{userEmail}} </p>
      <ion-item lines class="row" fill="outline">

        <ion-label position="floating">{{ 'new_email' | transloco }}</ion-label>
        <ion-input formControlName="email" value=""></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="full">{{ 'save' | transloco }}</ion-button>
    </form>

  </div>
  <br>
  <div>
    <h1>{{ 'change_password' | transloco }}</h1>
    <br>
    <ion-item fill="outline" class="row">
      <ion-label position="floating">{{ 'new_password' | transloco }}</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="updatePassword()" expand="full">{{ 'save' | transloco }}</ion-button>
  </div>
</ion-content>