<ion-content expand="fullscreen">
  <ion-buttons>
    <ion-button
      *ngFor="let language of languagesList; index as i"
      (click)="changeLanguage(language.code)"
    >
      <span> {{ language.name }} </span>
    </ion-button>
  </ion-buttons>
  <div class="container">
    <h1 class="heading">👋 {{ 'welcome' | transloco }}<br><br></h1>
    <p class="instruction">{{ 'login_instruction' | transloco }}</p>
    <form [formGroup]="form" (submit)="login()">
      <ion-item fill="outline">
        <ion-label position="floating">{{ 'email' | transloco }}</ion-label>
        <ion-input  type="text" id="email" formControlName="email"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline">
        <ion-label position="floating">{{ 'password' | transloco }}</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="forget-text"><a routerLink="/forgot-password" routerDirection="forward">{{ 'forgot_password' | transloco }}?</a></p>
      <p class="signup-text">{{ 'new_user' | transloco }}.&nbsp;<a  routerLink="/register" routerDirection="forward">{{ 'register' | transloco }}</a></p>
      <ion-button class="login-button" type="submit" expand="block">{{ 'login' | transloco }}</ion-button>
    </form>
  </div>
</ion-content>