<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Products
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <h1 class="title">Create Product</h1>

  <div class="profile-info">
    <form [formGroup]="productGroup" (submit)="createProduct()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="detail" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input formControlName="stock" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Discount</ion-label>
        <ion-input formControlName="discount" required></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="full">Create</ion-button>
    </form>
  </div>
  <br>
  <ion-row *ngIf="edit == false">
    <ion-col *ngFor="let data of products | paginate: { itemsPerPage: 10, currentPage: p }" size="6">
      <ion-card class="card no-margin" (click)="editProduct(data)">
        <ion-badge class="badge" *ngIf="data.discount>0 "> {{data.discount}}%</ion-badge>
        <img src="https://picsum.photos/200/200" [alt]="data.name">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col>
                <ion-text text-left><span class="price"><strong>{{data.name}}</strong></span></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="data.discount > 0">
                <ion-text><span class="price"><span class="inline">$
                      {{calculateFullPrice(data.totalPrice,data.discount)}}</span></span></ion-text>
                <ion-text><span class="price"><strong>$ {{data.totalPrice}}</strong></span></ion-text>
              </ion-col>
              <ion-col *ngIf="data.discount == 0">
                <ion-text><span class="price"><strong>$ {{data.totalPrice}}</strong></span></ion-text>
              </ion-col>
            </ion-row>

          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ion-row>

  <div *ngIf="edit==true">
    <ion-button  color="primary" (click)="edit=false" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <br><br><br>
    <ion-button color="danger" (click)="deleteProduct(product.id)" expand="full" >Delete</ion-button>
    <br>
    <form  [formGroup]="updateGroup" (submit)="updateProduct(product.id)">
      <p>Current name : {{product.name}} </p>
      <br>
      <ion-item fill="outline" class="row">

        <ion-label position="floating">New name</ion-label>
        <ion-input formControlName="name" value=""></ion-input>
      </ion-item>
      <br>
      <p>Current description: {{product.description}} </p>
      <ion-item lines class="row" fill="outline">

        <ion-label position="floating">New description</ion-label>
        <ion-input formControlName="detail" value=""></ion-input>
      </ion-item>
      <br>
      <p>Current price: {{product.totalPrice}} </p>
      <br>
      <ion-item lines class="row" fill="outline">

        <ion-label position="floating">New price</ion-label>
        <ion-input formControlName="price" value=""></ion-input>
      </ion-item>
      <br>
     
        <p>Current stock: {{product.stock}} </p>
      <br>
      <ion-item lines class="row" fill="outline">

        <ion-label position="floating">New stock</ion-label>
        <ion-input formControlName="stock" value=""></ion-input>
      </ion-item>
      <br>
        <p>Current discount: {{product.discount}} </p>
      <br>
      <ion-item lines class="row" fill="outline">

        <ion-label position="floating">New discount</ion-label>
        <ion-input formControlName="discount"  value=""></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="full">Save</ion-button>
    </form>

  </div>

</ion-content>