<ion-header class="mybg">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="I'm shopping for..." [(ngModel)]="term" class="search-bar"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only" class="white no-margin top-btn"></ion-icon>
      </ion-button>
      <ion-button (click)="side_open()">
        <ion-icon name="filter-outline" slot="icon-only" class="white no-margin top-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<app-productlist [recieved_data]="products" [term]="term"></app-productlist>
</ion-content>