<ion-header class="mybg">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="I'm shopping for..." [(ngModel)]="term" class="search-bar"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only" class="white no-margin top-btn"></ion-icon>
      </ion-button>
      <ion-button (click)="side_open()">
        <ion-icon name="filter-outline" slot="icon-only" class="white no-margin top-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary" class="segmenttoolbarSection" color="primary">
    <ion-segment mode="md" (ionChange)="seg($event)" scrollable="true" id="dag" class="segSection">
      <ion-segment-button [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" class="no-margin"
        (ionSelect)="update(i)" class="my-btn" [value]="item.title" [ngClass]="{'btn-active':segment == item.title}">
        <ion-text class="text">{{item.title}}</ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content color="light">
<app-productlist [recieved_data]="products" [term]="term"></app-productlist>
</ion-content>