 <div>
  <ion-row >
    <ion-col class="padding-0">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img class="image" [src]="product.image_1">
          <div class="product-image-overlay"></div>
        </ion-slide>
        <ion-slide>
          <img class="image" [src]="product.image_2">
          <div class="product-image-overlay"></div>
        </ion-slide>
        <ion-slide>
          <img class="image" [src]="product.image_3">
          <div class="product-image-overlay"></div>
        </ion-slide>
      </ion-slides>
      <ion-badge class="badge">
        <ion-icon name="images"></ion-icon>3
      </ion-badge>
    
    </ion-col>
  </ion-row>
  <div padding>

    <ion-row lines="none" class="row">
      <ion-text class="name">{{product.name}}</ion-text>
    </ion-row>
    <ion-row>
      <ion-icon name="star" color="primary" *ngFor="let i of fun.array(product.rating)"></ion-icon>
      <ion-icon name="star-outline" color="primary" *ngFor="let i of fun.array(5-product.rating)"></ion-icon>
    
    </ion-row>
    <h6 class="rate no-margin" (click)="goToReviews()">({{product.rating}})</h6>
    
    <ion-list lines="none">
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(1)">
        <ion-col size="9">
          <strong class="float-left">Description</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[1]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[1]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full"  *ngIf="open[1]">
        <ion-col>
          <span class="float-left">{{product.description}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(2)">
        <ion-col size="9">
          <strong class="float-left">Buyer Guarantee</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[2]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[2]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="open[2]">
        <ion-col>
          <span class="float-left">{{product.description}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(3)">
        <ion-col size="9">
          <strong class="float-left">Shipping Information</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[3]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[3]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full" *ngIf="open[3]">
        <ion-col>
          <span class="float-left">Standard Shipping {{product.totalPrice}}</span>
        </ion-col>
      </ion-row>
      <!-- <div class="sep"></div> -->
      <div (touchstart)="remove()" (touchend)="gainback()" *ngFor="let spon of product.sponsored">
        <ion-text>
          <h5 class="no-margin" ><strong>Sponsored</strong></h5>
        </ion-text>
        <ion-row>
          <ion-row class="container-outer">
            <div  (click)="open_item(data)" class="container-inner">
              <img src="https://picsum.photos/500/500" class="spon-img">
              <ion-row>
                <ion-col *ngIf="spon.discount > 0" >
                  <ion-text>
                    <h4 class="price"><span class="inline">${{product.totalPrice}}</span> <strong>${{product.totalPrice}}</strong></h4>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="!spon.discount == 0">
                  <ion-text>
                    <h4 class="price"><strong>${{product.totalPrice}}</strong></h4>
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </ion-row>
      </div>
    </ion-list>
  </div>
</div>