 <div>
  <ion-row >
    <ion-col class="padding-0">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let i of product.image;">
          <img class="image" src="https://picsum.photos/500/500">
          <div class="product-image-overlay"></div>
        </ion-slide>
      </ion-slides>
      <ion-badge class="badge">
        <ion-icon name="images"></ion-icon>{{product.image.length}}
      </ion-badge>
    
    </ion-col>
  </ion-row>
  <div padding>

    <ion-row lines="none" class="row">
      <ion-text class="name">{{product.name}}</ion-text>
    </ion-row>
    <ion-row>
      <ion-icon name="star" color="primary" *ngFor="let i of fun.array(product.rating)"></ion-icon>
      <ion-icon name="star-outline" color="primary" *ngFor="let i of fun.array(5-product.rating)"></ion-icon>
    
    </ion-row>
    <h6 class="rate no-margin" (click)="goToReviews()">({{product.store_rating}} store ratings)</h6>
    <!-- <div class="sep"></div>
    <div>
      <ion-text><span float-left no-margin><strong>Sold By</strong></span></ion-text><br>
      <ion-row>
        <ion-col size="2">
          <ion-avatar class="avatar"><img src="https://picsum.photos/500/500"></ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text><span float-left no-margin>{{product.sold_by}}</span></ion-text><br>
          <ion-text>
            <h6 float-left no-margin>{{product.store_rating}} ratings</h6>
          </ion-text><br>
        </ion-col>
      </ion-row>
    </div> -->
    <div class="sep"></div>
    <ion-list lines="none">
      <ion-row class="full info" (click)="toogle(0)">
        <ion-col size="9">
          <strong class="float-left">Item Specification</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[0]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[0]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full" *ngIf="open[0]">
        <ion-col>
          <span class="float-left">{{product.specs}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(1)">
        <ion-col size="9">
          <strong class="float-left">Description</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[1]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[1]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full"  *ngIf="open[1]">
        <ion-col>
          <span class="float-left">{{product.description}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(2)">
        <ion-col size="9">
          <strong class="float-left">Buyer Guarantee</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[2]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[2]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="open[2]">
        <ion-col>
          <span class="float-left">{{product.buyer_guarantee}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(3)">
        <ion-col size="9">
          <strong class="float-left">Shipping Information</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="float-right" name="caret-down-outline" *ngIf="!open[3]"></ion-icon>
          <ion-icon class="float-right" name="caret-up-outline" *ngIf="open[3]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full" *ngIf="open[3]">
        <ion-col>
          <span class="float-left">Standard Shipping {{product.currency}}{{product.shipping}}</span>
        </ion-col>
      </ion-row>
      <!-- <div class="sep"></div> -->
      <div (touchstart)="remove()" (touchend)="gainback()" *ngFor="let spon of product.sponsored">
        <ion-text>
          <h5 class="no-margin" ><strong>Sponsored</strong></h5>
        </ion-text>
        <ion-row>
          <ion-row class="container-outer">
            <div  (click)="open_item(data)" class="container-inner">
              <img src="https://picsum.photos/500/500" class="spon-img">
              <ion-row>
                <ion-col *ngIf="spon.offer" >
                  <ion-text>
                    <h4 class="price"><span class="inline">{{spon.currency}}{{spon.cost_price}}</span> <strong>{{spon.currency}}{{fun.calculate(spon.cost_price,
                        spon.discount)}}</strong></h4>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="!spon.offer">
                  <ion-text>
                    <h4 class="price"><strong>{{spon.currency}}{{spon.cost_price}}</strong></h4>
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </ion-row>
      </div>
<!-- 
      <div class="sep"></div>
      <ion-row class="full info">
        <ion-row>
          <ion-col><strong>Recent Reviews</strong></ion-col>
        </ion-row>
        <div *ngFor="let review of product.reviews">
          <ion-row>
            <ion-col size="2">
              <ion-avatar class="avatar"><img src="https://picsum.photos/500/500"></ion-avatar>
            </ion-col>
            <ion-col>
              <ion-row class="full">
                <ion-icon float-right name="star" class="small-ico" color="primary" *ngFor="let i of fun.array(review.rating)"></ion-icon>
                <ion-icon float-right name="star-outline" class="small-ico" color="primary" *ngFor="let i of fun.array(5-review.rating)"></ion-icon>
                <h6 float-left text-start no-margin><strong>{{review.name}}</strong></h6><br>
              </ion-row>
              <ion-row class="full">
                <h6 float-left text-start no-margin class="cmnt">{{review.comment}}</h6><br>
                <img float-left *ngFor="let img of review.images" src="https://picsum.photos/500/500" class="rev-img">
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-row> -->

    </ion-list>
  </div>
</div>