<div class="container">
  <h1 class="heading">{{ 'forgot_password' | transloco }}?<br><br></h1>
  <p class="instruction">{{ 'forgot_instruction' | transloco }}</p>
  <ion-item lines="full">
    <ion-label position="floating">{{ 'email' | transloco }}</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>
  <p class="signup-text"><a routerLink="/login" routerDirection="forward">{{ 'login' | transloco }}</a></p>
  <ion-button class="login-button" expand="block">{{ 'reset_password' | transloco }}</ion-button>
</div>