<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'checkout' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list-header color="light">
    <ion-label>{{ 'type_payment' | transloco }} </ion-label>
  </ion-list-header>
  <div  class="add-payment-div">
    <ion-row>
      <ion-col>
        <ion-text><span class="label">{{ 'card_number' | transloco }}</span></ion-text>
        <ion-input [(ngModel)]="creditNumber" class="input"  type="number" placeholder="Credit/Debit Number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><span class="label">CVV</span></ion-text>
        <ion-input class="input" [(ngModel)]="cvv" type="number" placeholder="CVV"></ion-input>
      </ion-col>
      <ion-col>
        <ion-text><span class="label">{{ 'expiry_date' | transloco }}</span></ion-text>
        <ion-input class="input" [(ngModel)]="expiryDate" placeholder="MM/YY"></ion-input>
      </ion-col>
    </ion-row>
  </div>
  <ion-list-header color="light">
    <ion-label>{{ 'type_address' | transloco }}</ion-label>
  </ion-list-header>
  <div  class="add-payment-div">
    <ion-row>
      <ion-col>
        <ion-text><span class="label">{{ 'address_line' | transloco }}</span></ion-text>
        <ion-input class="input" [(ngModel)]="addressLine"   placeholder="Address Line"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><span class="label">{{ 'city' | transloco }}</span></ion-text>
        <ion-input class="input" [(ngModel)]="city"   placeholder="City"></ion-input>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><span class="label">{{ 'country' | transloco }}</span></ion-text>
          <ion-input class="input" [(ngModel)]="country"   placeholder="Country"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><span class="label">{{ 'zip' | transloco }}</span></ion-text>
          <ion-input class="input" [(ngModel)]="zip" placeholder="Zip code"></ion-input>
        </ion-col>
      </ion-row>
  </div>
</ion-content>
<ion-footer (click)="done()">
  <ion-toolbar color="success">
    <ion-title>{{ 'pay' | transloco }}</ion-title>
  </ion-toolbar>
</ion-footer>