 <ion-row *ngIf="term && term.length > 3">
  <ion-col *ngFor="let data of recieved_data |filter:term | paginate: { itemsPerPage: 10, currentPage: p };" size="6">
    <ion-card class="card no-margin" (click)="open(data)">
      <ion-badge class="badge" *ngIf="data.discount>0">{{data.discount}}%</ion-badge>
      <img [src]="data.image_1" [alt]="data.name">
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col>
              <ion-text ><span class="price"><strong>{{data.name}}</strong></span></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="data.discount > 0">
              <ion-text ><span class="price"><span class="inline">{{calculateFullPrice(data.totalPrice,data.discount)}} lei</span></span></ion-text>
              <ion-text ><span class="price"><strong>{{data.totalPrice}} lei</strong></span></ion-text>
            </ion-col>
            <ion-col *ngIf="data.discount == 0" >
              <ion-text><span class="price"><strong>{{data.totalPrice}} lei</strong></span></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ion-row>
<div *ngIf="!term">
  <div class="title ion-padding">
    <h2 class="font-bold">{{ 'search_instruction' | transloco }}</h2>
  </div>
</div>